*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body
{
    font-family:sans-serif;
}
.banner-area{
    width:100%;
    height:100vh;
    background-image:url("img/backgr.jpg");
	background-size:cover;
}
.content-area{
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
	background-color: #fefefe;	
	width: 700px;
	padding: 12px;
	margin-left: auto;
	margin-right: auto;

	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
       
	   
.content h1{
    font-size:80px;
    color:#000;
}
.content p{
	margin-top: 20px;
	margin-bottom: 20px;
}
        
        
.content .btn1{
    width: 250px;
	background-color: black;
	font-size:20px;
	color: white;
	padding:15px;
	margin-top:1px;
    border:none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;	
    outline:none;             
}

.content .btn2{
	width: 200px;
	background-color: black;
	font-size:20px;
	color: white;
	padding:15px;
	margin-top:1px;
    border:none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;	
    outline:none;             
}



input[type=text],
input[type=password]
{
	width: 300px;
	background-color: #efefef;
	color: #666;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #000000;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 300px;
	background-color: black;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
.content .btn1:focus,
.content .btn2:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=submit]:hover,
.content .btn1:hover,
.content .btn2:hover
{
	background-color: white;
	color: black;
	border-style: outset;
	border-color: black;
	border-radius: 50px;
}